.dropdown {
  position: relative;
}

.dropdown_btn {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.dropdown_btn:hover {
  background: #f1f1f1;
  border-radius: 8px;
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  min-width: 180px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: .3s;
  z-index: 1000;
}

.dropdown_menu.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown_menu button {
  width: 100%;
  text-align: left;
  padding: 12px 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: .3s;
}

.dropdown_menu button:hover {
  background: #f1f1f1;
}

.dropdown_menu li:first-child button {
  border-radius: 8px 8px 0 0;
}

.dropdown_menu li:last-child button {
  border-radius: 0 0 8px 8px;
}
